<% action = (user.persisted? ? user_url(user) : users_url ) %>
<% method = (user.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="email">Email</label>
  <input type="string"
         name="user[email]"
         id="user_email"
         value="<%= user.email %>">
  <br>

  <label for="password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password">

  <br>
  <% submit_text = (user.persisted? ? 'Update' : 'Create') %>
  <input type="submit" value="<%= submit_text %>", class="btn btn-primary">
</form>
