<h1>Band: <%= @band.name %></h1>
<%= link_to 'edit', edit_band_url(@band) %> |
<%= link_to 'delete', @band, method: :delete %>
<br>
<%= link_to 'add album', new_band_album_url(@band) %>
<h3>Albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>
